body {
  width: 100%;
  margin: 0;
}

.container {
  padding: 0px;
  width: 375px;
  height: 667px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.header {
  width: 100%;
  height: 56px;
  background: rgb(226, 128, 128);
  display: flex;
}

.title {
  color: rgb(255, 255, 255);
  margin: auto;
  font-size: 26px;
}

.add_todo {
  width: 100%;
  height: 52px;
  display: flex;
  background: pink;
}

.todo_input {
  width: 75%;
  margin: auto;
}

.todo_input input {
  width: 100%;
  height: 28px;
  margin: auto;
  border-radius: 16px;
  border: none;
  padding: 0px 10px;
}

.todo_lists {
  width: 100%;
  height: 70%;
}

.todo_item {
  width: 100%;
  height: 36px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
}

.todo_item:hover .delete_icon {
  visibility: visible;
}

.uncheck_icon {
  width: 18px;
  height: 18px;
  background-image: url("../images/uncheck.png");
  background-size: 18px;
  margin: auto;
}

.checked_icon {
  width: 18px;
  height: 18px;
  background-image: url("../images/checked.png");
  background-size: 18px;
  margin: auto;
}

.todo_content {
  width: 60%;
  height: 22px;
  padding: 5px;
}

.done_content {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.delete_icon {
  width: 18px;
  height: 18px;
  background-image: url("../images/delete.png");
  background-size: 18px;
  margin: auto;
}

.footer {
  width: 100%;
  height: 68px;
  display: flex;
  flex-direction: column;
}

.items_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 48px;
  justify-content: space-between;
}

.todo_counter {
  margin: auto 20px;
}

.clear_button {
  color: rgb(226, 128, 128);
  background: white;
  border: none;
  margin: auto 10px;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.clear_button button {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
}

.view_buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 48px;
  margin: auto;
  justify-content: space-around;
}

.view_buttons button {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 16px;
  padding: 5px;
  border-radius: 16px;
  border: none;
  width: 100px;
}

.selected_button {
  background: rgb(226, 128, 128);
  color: white;
}

.hidden {
  visibility: hidden;
}
