@import "basic.css";
@import "navigation.css";
@import "movie_card.css";

body {
  margin: 0px;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas: "navigation navigation" "sidebar content";
  background: #fcfcfc;
}

.navigation {
  grid-area: navigation;
  padding: 0px;
  height: 80px;
  position: fixed;
  z-index: 2;
  top: 0px;
}

.navigation .logo {
  margin: 5px 40px;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
  z-index: 1;
  top: 80px;
  background: #f0f0f0;
  font-size: 15px;
  height: 100%;
}

.guide_section {
  list-style: none;
  margin: 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #dcdcdc;
}

.guide_item {
  margin: 0px;
  padding: 0px 50px;
  height: 40px;
  display: flex;
  align-items: center;
}

.guide_item:hover {
  background: #e6e6e6;
}

.active {
  background: #dcdcdc;
}

.guide_icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.guide_icon img {
  width: 80%;
  height: 80%;
  vertical-align: middle;
}

.guide_title {
  display: inline-block;
  height: 25px;
  line-height: 25px;
}

.copyright {
  margin: 0px;
  padding: 0px 40px;
  height: 40px;
  color: #444;
  font-size: 12px;
}

.content {
  grid-area: content;
  padding: 30px 0px;
  overflow-y: scroll;
}

.poster_wall {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.poster {
  width: 130px;
  height: 190px;
}

.error_message {
  font-size: 20px;
  color: #888;
  margin: 40px;
}

.load_more {
  font-size: 14px;
  color: #444;
  background: #fff;
  width: 160px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 1px 4px 1px #aaa;
  margin: 30px auto;
}

.load_more:hover {
  cursor: pointer;
  background: #efefef;
}

.hide {
  opacity: 0;
}
