.movie,
.poster img {
  border-radius: 8px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie:hover {
  cursor: pointer;
  background: #ececec;
}

.poster,
.movie_basic_infor {
  margin: 5px;
}

.movie_basic_infor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie_title {
  font-size: 14px;
  font-weight: bold;
  color: #444;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rating {
  font-size: 10px;
  color: #fff;
  background: #ff781e;
  padding: 1px 5px;
  border-radius: 4px;
}

.movie a {
  text-decoration: none;
}
