div[class*='card'] {
  position: relative;
  height: 100%;
  width: 100%;
}

.mian {
  width: 100%;
  position: relative;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
  padding: 150px 0px 0px 0px;
}

.big_card {
  position: relative;
  grid-column: 1/3;
  grid-row: 1/3;
}

.medium_card_1 {
  position: relative;
  grid-column: 3/5;
}

.medium_card_2 {
  position: relative;
  grid-column: 2/4;
}

.small_card {
  position: relative;
}

.headline {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.tag {
  font-size: .9em;
  line-height: 1.3em;
  width: fit-content;
  padding: 4px;
  padding: 6px 12px;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(93, 127, 185, 0.8);
  /*text-decoration: none;*/
}

.tag a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.tag a:hover {
  color: rgba(255, 255, 255, 1);
}

.title {
  font-family: 'Titillium Web', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 23px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: rgba(255, 255, 255, .8);
}

.title a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.title a:hover {
  color: rgba(0, 0, 0, 1);
}

.title:hover {
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
}

.tag:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(93, 127, 185, 1);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embed_video {
  object-fit: cover;
}

.embed_video video {
  object-fit: cover;
  object-fit: contain;
}

.events {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(57, 113, 158, 1);
}

.events_header {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  width: 96%;
  margin: 0 auto 3px;
  padding: 8px 0 6px 0;
  font-weight: 500px;
  color: rgb(255, 255, 255, 255);
}

.events_content {
  color: rgba(255, 255, 255, 1);
}

.events_title {
  margin: 10px 5px;
}

.events_title a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.events_title a:hover, a:focus {
  text-decoration: underline;
}

.events_footer {
  position: absolute;
  bottom: 0px;
  left: 2%;
  width: 96%;
  background: rgba(57, 113, 158, 1);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.events_footer_left {
  float: left;
  width: fit-content;
  text-align: center;
  padding: 0px 10px;
  color: rgb(255, 255, 255, 255);
}

.events_footer_right {
  float: right;
  width: fit-content;
  text-align: center;
  padding: 0px 10px;
  color: rgb(255, 255, 255, 255);
}

.embed_video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.embed_video video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* margin: auto; */
}

.more {
  width: 100%;
  padding: 10px 0px;
  margin: 10px 0px;
  background: rgba(23, 65, 139, 1);
  text-align: center;
}

.more:hover {
  background: rgba(23, 65, 139, 0.8);
}

.more a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.more a:hover {
  color: rgba(255, 255, 255, 0.8);
}
